## **Atividade - Número de Gols por Partida no Campeonato Brasileiro**
**Disciplina**: Machine Learning aplicado ao Jornalismo

**Alunos**: Bianca Muniz e Vinicius Marques


---


**Proposta:** A partir da base de dados do campeonato brasileiro de futebol construir um modelo com a previsão do número total de gols por partida. 

Apresentar os resultados com os seguintes itens:
- Análise descritiva dos dados
- Construção do modelo de regressão linear
- Interpretação do sinal e magnitude dos parâmetros
- Análise de erros
- Apresentação da previsão do número de gols para a próxima rodada, com comentários.
- Quais jogos terão mais gols?
- Base de dados: https://drive.google.com/drive/folders/1CPkwSCMz12g8tlIeq083n_FHPCRBwcPd?usp=sharing
- Entrega por email até o dia 18/11
Qualquer dúvida entrar em contato com o professor.

In [34]:
import pandas as pd
import numpy as np
import statistics #para o cálculo da moda

In [35]:
base_gols = pd.read_csv('base_gols.csv',sep=',', encoding='utf-8', decimal=",")

In [36]:
list(base_gols.columns) #listando as colunas da base

['Ano',
 'Rodada',
 'Data',
 'Mandante',
 'Visitante',
 'Gol.Mandante',
 'Gol.Visitante',
 'Total Gols',
 'GP_m_20',
 'GP_v_20',
 'GC_m_20',
 'GC_v_20',
 'ShotsP_m_20',
 'ShotsP_v_20',
 'Elo_Dif_Abs']

In [39]:
base_gols.head(5)

    Ano  Rodada            Data  ... ShotsP_m_20 ShotsP_v_20  Elo_Dif_Abs
0  2018       1  04/14/18 16:00  ...       292.0       229.0  0.349617821
1  2018       1  04/14/18 21:00  ...         NaN         NaN  3.639485369
2  2018       1  04/14/18 19:00  ...       276.0       304.0  1.700226467
3  2018       1  04/15/18 19:00  ...         NaN         NaN   1.52850928
4  2018       1  04/15/18 16:00  ...       266.0       246.0   2.71700047

[5 rows x 15 columns]

## **1) Análise descritiva dos dados**

In [40]:
base_gols['Total Gols'].describe()

count    1186.000000
mean        2.317875
std         1.530329
min         0.000000
25%         1.000000
50%         2.000000
75%         3.000000
max         9.000000
Name: Total Gols, dtype: float64

In [19]:
statistics.mode(base_gols['Total Gols'])

2

* A média de total de gols por partida é de 2,32 gols;
* A menor quantidade de gols em uma partida foi 0; a maior, 9;
* A moda do total de gols é de 2 gols

In [16]:
base_gols['Gol.Mandante'].describe()

count    1186.000000
mean        1.386172
std         1.142628
min         0.000000
25%         1.000000
50%         1.000000
75%         2.000000
max         6.000000
Name: Gol.Mandante, dtype: float64

In [21]:
statistics.mode(base_gols['Gol.Mandante'])

1

In [17]:
base_gols['Gol.Visitante'].describe()

count    1186.000000
mean        0.931703
std         0.971088
min         0.000000
25%         0.000000
50%         1.000000
75%         1.000000
max         5.000000
Name: Gol.Visitante, dtype: float64

In [20]:
statistics.mode(base_gols['Gol.Visitante'])

1

* A média de total de gols do mandante por partida é de 1,38 gols; do visitante é de 0,93 gols;
* A menor quantidade de gols do mandante em uma partida foi 0; a maior, 6;
* A menor quantidade de gols do visitante em uma partida foi 0; a maior, 5;
* A moda de gols do time mandante e do time visitante é de 1 gol

In [30]:
# Olhando a média de gols por time mandante
mandante = base_gols[["Mandante", "Gol.Mandante"]]
mandante2 = mandante.groupby(["Mandante"]).mean()
mandante2

               Gol.Mandante
Mandante
America-MG         0.952381
Athletico-PR       1.175000
Atletico-GO        1.227273
Atletico-MG        1.716667
Atletico-PR        2.315789
Avai               0.526316
Bahia              1.350000
Botafogo           1.017544
CSA                0.941176
Ceara              1.100000
Chapecoense        1.000000
Corinthians        1.266667
Coritiba           0.736842
Cruzeiro           1.000000
Flamengo           2.150000
Fluminense         1.169492
Fortaleza          1.300000
Goias              1.315789
Gremio             1.833333
Internacional      1.616667
Juventude          0.500000
Palmeiras          2.032787
Parana             0.666667
RB Bragantino      1.900000
Santos             1.883333
Sao Paulo          1.322034
Sport Recife       0.974359
Vasco              1.228070
Vitoria            1.157895

In [31]:
# Olhando a média de gols por time visitante
visitante = base_gols[["Visitante", "Gol.Visitante"]]
visitante2 = visitante.groupby(["Visitante"]).mean()
visitante2

               Gol.Visitante
Visitante
America-MG          0.409091
Athletico-PR        1.179487
Atletico-GO         0.857143
Atletico-MG         1.114754
Atletico-PR         0.526316
Avai                0.421053
Bahia               1.000000
Botafogo            0.763636
CSA                 0.388889
Ceara               0.983333
Chapecoense         0.714286
Corinthians         0.836066
Coritiba            0.947368
Cruzeiro            0.605263
Flamengo            1.586207
Fluminense          1.016393
Fortaleza           0.976190
Goias               0.973684
Gremio              1.000000
Internacional       1.098361
Juventude           0.500000
Palmeiras           1.103448
Parana              0.263158
RB Bragantino       1.000000
Santos              0.898305
Sao Paulo           1.098361
Sport Recife        0.725000
Vasco               0.821429
Vitoria             0.736842

## **2) Construção do modelo de regressão linear**

## **3) Interpretação do sinal e magnitude dos parâmetros**

## **4) Análise de erros**

## **5) Apresentação da previsão do número de gols para a próxima rodada, com comentários**