In [1]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [2]:
base_votos = pd.read_csv(r"http://dadosabertos.camara.leg.br/arquivos/votacoes/csv/votacoes-2021.csv", sep=";", encoding="utf-8", error_bad_lines=False)
base_votacao = pd.read_csv(r"http://dadosabertos.camara.leg.br/arquivos/votacoesObjetos/csv/votacoesObjetos-2021.csv", sep=";", encoding="utf-8", error_bad_lines=False)

In [3]:
base_votacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51840 entries, 0 to 51839
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   idVotacao             51840 non-null  object
 1   uriVotacao            51840 non-null  object
 2   data                  51840 non-null  object
 3   descricao             51840 non-null  object
 4   proposicao_id         51840 non-null  int64
 5   proposicao_uri        51840 non-null  object
 6   proposicao_ementa     50846 non-null  object
 7   proposicao_codTipo    51840 non-null  int64
 8   proposicao_siglaTipo  51840 non-null  object
 9   proposicao_numero     51840 non-null  int64
 10  proposicao_ano        14439 non-null  float64
 11  proposicao_titulo     51840 non-null  object
dtypes: float64(1), int64(3), object(8)
memory usage: 4.7+ MB

In [ ]:
x = base_votos.drop(['uriVotacao','dataHoraVoto','uriVotacao','deputado_uri'
                   ,'deputado_uriPartido','deputado_siglaUf'
                   ,'deputado_idLegislatura','deputado_urlFoto'],axis=1)

In [ ]:
print(x.voto.value_counts())

x.replace({"voto":{"Sim" : 1, "Não" : 0, "Obstrução" : 0, "Abstenção": 0.5, "Artigo 17": 0.5}}, inplace = True)

x = x.pivot_table('voto', ['deputado_id','deputado_nome','deputado_siglaPartido'], 'idVotacao')

Sim          159395
Não          133770
Obstrução      2741
Abstenção       661
Artigo 17       647
Name: voto, dtype: int64

In [ ]:
propostas_selecionadas = [#'2282791-60',
                          '2293449-187',
                          '2275537-117',
                          '2275537-102',
                          '2165194-130',
                          '2210757-104',
                          '2210757-93',
                          '531331-317',
                          '531331-284',
                          '2166595-59']

In [ ]:
base_votacao_selecionadas = base_votacao[base_votacao['idVotacao'].isin(propostas_selecionadas)]

In [ ]:
base_votacao_selecionadas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 23630 to 46740
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   idVotacao             60 non-null     object
 1   uriVotacao            60 non-null     object
 2   data                  60 non-null     object
 3   descricao             60 non-null     object
 4   proposicao_id         60 non-null     int64
 5   proposicao_uri        60 non-null     object
 6   proposicao_ementa     60 non-null     object
 7   proposicao_codTipo    60 non-null     int64
 8   proposicao_siglaTipo  60 non-null     object
 9   proposicao_numero     60 non-null     int64
 10  proposicao_ano        28 non-null     float64
 11  proposicao_titulo     60 non-null     object
dtypes: float64(1), int64(3), object(8)
memory usage: 6.1+ KB

In [ ]:
x1 = x[propostas_selecionadas]

In [ ]:
x1.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 553 entries, (62881, 'Danilo Forte', 'PSDB') to (218086, 'Ely Santos', 'REPUBLICANOS')
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   2293449-187  479 non-null    float64
 1   2275537-117  444 non-null    float64
 2   2275537-102  429 non-null    float64
 3   2165194-130  459 non-null    float64
 4   2210757-104  441 non-null    float64
 5   2210757-93   442 non-null    float64
 6   531331-317   440 non-null    float64
 7   531331-284   429 non-null    float64
 8   2166595-59   427 non-null    float64
dtypes: float64(9)
memory usage: 50.4+ KB

In [ ]:
x1 = x1.dropna()

In [ ]:
x1.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 211 entries, (62881, 'Danilo Forte', 'PSDB') to (215045, 'Pedro Augusto Palareti', 'PSD')
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   2293449-187  211 non-null    float64
 1   2275537-117  211 non-null    float64
 2   2275537-102  211 non-null    float64
 3   2165194-130  211 non-null    float64
 4   2210757-104  211 non-null    float64
 5   2210757-93   211 non-null    float64
 6   531331-317   211 non-null    float64
 7   531331-284   211 non-null    float64
 8   2166595-59   211 non-null    float64
dtypes: float64(9)
memory usage: 24.7+ KB

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
kmeans = KMeans(init="random", n_clusters=3, n_init=10,max_iter=300)

In [ ]:
labels = kmeans.fit(x1)
prediction = kmeans.predict(x1)
prediction = pd.DataFrame(prediction)

In [ ]:
x1 = x1.reset_index(level =['deputado_id','deputado_nome','deputado_siglaPartido'])
x1['Cluster'] = prediction

In [ ]:
x1.head()

idVotacao  deputado_id      deputado_nome  ... 2166595-59  Cluster
0                62881       Danilo Forte  ...        1.0        2
1                66828      Fausto Pinato  ...        1.0        1
2                73433  Arlindo Chinaglia  ...        1.0        2
3                73466       Rubens Bueno  ...        1.0        0
4                73482   Henrique Fontana  ...        1.0        2

[5 rows x 13 columns]

In [ ]:
cluster = x1.groupby(['deputado_siglaPartido','Cluster']).size().reset_index(name='counts')

In [ ]:
cluster.head()

  deputado_siglaPartido  Cluster  counts
0                AVANTE        0       2
1                AVANTE        1       1
2             CIDADANIA        0       5
3             CIDADANIA        1       1
4                   DEM        0       3

In [ ]:
cluster_final = cluster.pivot_table('counts', ['deputado_siglaPartido'], 'Cluster')

In [ ]:
cluster_final

Cluster                  0     1     2
deputado_siglaPartido
AVANTE                 2.0   1.0   NaN
CIDADANIA              5.0   1.0   NaN
DEM                    3.0   3.0   NaN
MDB                    3.0   6.0   NaN
NOVO                   8.0   NaN   NaN
PCdoB                  NaN   NaN   5.0
PDT                    6.0   NaN   1.0
PL                     1.0  10.0   NaN
PODE                   1.0   2.0   2.0
PP                     2.0   6.0   NaN
PROS                   3.0   1.0   1.0
PSB                    9.0   3.0   4.0
PSC                    1.0   5.0   NaN
PSD                    3.0  10.0   NaN
PSDB                   8.0   4.0   1.0
PSL                    9.0  25.0   1.0
PSOL                   3.0   NaN   NaN
PT                     NaN   NaN  32.0
PTB                    NaN   1.0   NaN
PV                     1.0   NaN   NaN
REPUBLICANOS           1.0  13.0   NaN
SOLIDARIEDADE          NaN   4.0   NaN